*.py[co]
.DS_Store

.Python
include/
lib/

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox

#Translations
*.mo

#Mr Developer
.mr.developer.cfg

fixtures/*
management/commands/ap_wfm_settings.py
WFA/
WebFeedsAgent.jar
WebFeedsAgent/
management/commands/xml_into_Django.log
config/
logs/
xml_into_Django.log*
