{% extends "dox/bulldog.html" %}

{% block temp %}<link rel="stylesheet" href="http://assets.registerguard.com/demos/indesign/styles.css">{% endblock temp %}

{% block body %}
	
	<div class="w_row">
		
		<div class="w_col w_C130">&nbsp;</div>
		
		<div class="w_col w_C640 w_D980">
			
			<div id="bd_content">
				
				<div class="section">
					
					{# This needs to be thought about more: #}
					<article>
						
						{% block content %}{{ block.super }}{% endblock content %}
						
					</article>
					
				</div> <!-- /.section -->
				
			</div> <!-- /#story -->
			
		</div> <!-- /.w_col -->
		
		<div class="w_col w_C130">&nbsp;</div>
		
	</div> <!-- /.w_row -->
	
{% endblock body %}