{% extends "base_bulldog.html" %}

{% load allow_tags %}

{% block head_title %}
	
	{% if page.head_title %}
		
		{{ page.head_title }}
		
	{% endif %}
	
{% endblock head_title %}

{% block head_title_extra %}
	
	{% if page.head_title_extra %}
		
		{{ page.head_title_extra }}
		
	{% else %}
		
		{{ block.super }}
		
	{% endif %}
	
{% endblock head_title_extra %}

{% block head_description %}
	
	{% if page.head_description %}
		
		{{ page.head_description }}
		
	{% endif %}
	
{% endblock head_description %}

{% block head_keywords %}
	
	{% if page.head_keywords %}
		
		{{ page.head_keywords }}
		
	{% endif %}
	
{% endblock head_keywords %}

{% block head_extra %}
	
	{% if page.head_extra %}
		
		{{ page.head_extra|safe }}
		
	{% endif %}
	
{% endblock head_extra %}

{% block location %}
	
	{% if page.title or page.description_short %}
		
		<header>
			
			<div id="loc">
				
				<hgroup>
					
					<div class="streamer">
						
						<h1>{% block location_title %}<span>{% if page.title %}{{ page.title|safe }}{% else %}&nbsp;{% endif %}</span>{% endblock location_title %}</h1>
						
						<h2><span>{% block location_description %}{% if page.description_short %}{{ page.description_short|safe }}{% else %}&nbsp;{% endif %}{% endblock location_description %}</span></h2>
						
					</div> <!-- /.streamer -->
					
				</hgroup>
				
				{# <p>Lorem ipsum dolor sit amet consectetur adipiscing elit <a href="#">suspendisse in mauris nunc</a>.</p> #}
				
			</div> <!-- /#loc -->
			
		</header>
		
	{% endif %}
	
{% endblock location %}

{% block content %}
	
	{% if page.content %}
		
		{% allow_tags page.content %}
		
	{% endif %}
	
{% endblock content %}

{% block footer_extra %}
	
	{% if page.extra %}
		
		{{ page.extra|safe }}
		
	{% else %}
		
		{{ block.super }}
		
	{% endif %}
	
{% endblock footer_extra %}