{% extends "ap_wfm/ap_wfm_story.html" %}

{% block comment %}

	Note: These templates use Dox filter "splitter".
	In the future, if/when we need story page for more than just AP
	Let’s figure out a way to move a lot of the below markup into the
	parent Dox bulldog story template. For now, no need to worry because
	story page views are only needed for this AP stuff.

	Keep in mind, both `page` and `object` exist. We’d need a way to
	abstract those objects in the parent so that other apps can use the
	same templates.

	~mh

{% endblock comment %}

{% load thumbnail %}
{% load footer_links %}
{% load splitter %}

{% block head_title %}{{ object.headline }}{% endblock head_title %}

{% block head_ad_ids %}

	{% with ps=object.body|splitter:"</p>"|slice:"0:-1" %}

		// If desktop, serve weather widget
		if (document.documentElement.clientWidth >= 1005){
			googletag.defineSlot('/30582678/RGM', [120, 60], 'ros-weather-widget')
				.setTargeting('pos', ['rgm_weather_widget'])
				.addService(googletag.pubads());
		}

		// Define ad units
		googletag.defineSlot('/30582678/RGM', [[320, 50], [728, 90]], 'leaderboard-top')
			.setTargeting('pos', ['atf']) // Above the fold
			.defineSizeMapping(mapping)
			.addService(googletag.pubads());
		{% if ps|length > 2 %} {# check for at least 2 paragrafs before setting tag #}
		googletag.defineSlot('/30582678/RGM', [300, 250], 'medium-rectangle-1')
			.setTargeting('pos', ['rgm_one'])
			.addService(googletag.pubads());
		{% endif %}
		{% if ps|length > 7 %} {# check for at least 7 paragrafs before setting tag #}
		googletag.defineSlot('/30582678/RGM', [300, 250], 'medium-rectangle-2')
			.setTargeting('pos', ['rgm_two'])
			.addService(googletag.pubads());
		{% endif %}
		googletag.defineSlot('/30582678/RGM', [[320, 50], [728, 90]], 'leaderboard-bottom')
			.setTargeting('pos', ['btf']) // Below the fold
			.defineSizeMapping(mapping)
			.addService(googletag.pubads());

	{% endwith %}

{% endblock head_ad_ids %}

{% block head_extra %}
	<meta name="twitter:card" value="summary_large_image" />
	<meta name="twitter:site" value="@registerguard" />
	<meta property="twitter:title" content="{{ object.headline }}" />
	<meta property="twitter:url" content="{{ object.get_absolute_url }}" />
	{% with object.image_set.all.0 as ap_image %}
		{% thumbnail ap_image.image "990x990" as im %}
			<meta property="twitter:image" content="{{ im.url }}" />
			<meta property="og:image" content="{{ im.url }}" />
		{% endthumbnail %}
	{% endwith %}
	<meta property="og:url" content="{{ object.get_absolute_url }}" />
	<meta property="og:type" content="article" />
	<meta property="og:title" content="{{ object.headline }}" />
{% endblock head_extra %}

{% block location %}

	{% if page.title or page.description_short %}

		<header>

			<div id="loc">

				<hgroup>

					<div class="streamer">

						<h1><span>{% block location_title %}{% if page.title %}{{ page.title|safe }}{% else %}&nbsp;{% endif %}{% endblock location_title %}</span></h1>
						<h2>{% block location_description %}{% if page.description_short %}<a href="{% url ap_topic_index page.cat 20 %}">{{ page.description_short|safe }}</a>{% else %}&nbsp;{% endif %}{% endblock location_description %}</h2>

					</div> <!-- /.streamer -->

				</hgroup>

			</div> <!-- /#loc -->

		</header>

	{% endif %}

{% endblock location %}

{% block body %}

	{% autoescape off %}

		<article>

			<header>

				<div class="w_row">

					<div class="w_col w_C130 Aoff Boff">&nbsp;</div>

					<div class="w_col w_C640 w_D980">

						<div class="wrap give">

							<hgroup>

								<h1>{{ object.headline }}</h1>

							</hgroup>

						</div> <!-- /.wrap -->

					</div> <!-- /.w_col -->

					<div class="w_col w_C130 Aoff Boff">&nbsp;</div>

				</div> <!-- /.w_row -->

				<hr>

				{% if object.image_count > 1 %}

					<section>

						<div class="w_row">

							<div class="w_col w_C130 Aoff Boff">&nbsp;</div>

							<div class="w_col w_C640 w_D980">

								<div class="galleria" style="background-color: black; padding-top: 0;"></div> <!-- /.galleria -->

								<div class="photo-info">

									<p><span class="gal-count"></span> <span class="caption gal-caption">&nbsp;</span></p>

									<div style="clear:both"></div>

								</div> <!-- /.photo-info -->

								<hr>

							</div><!-- /.w_col -->

					<script>
					if (document.querySelector('.galleria')){
						
						var ga_category = "";
						var ga_subcategory = "{{ object.category.all.0 }}";

						var ga_dimension1 = "{{ object.byline }}";
						var ga_dimension2 = "{{ object.id }}";
						var ga_dimension3 = "{{ object.updated }}";
						var ga_dimension4 = "{{ request.get_full_path }}";
						var ga_dimension5 = "{{ object.headline|escapejs }}";
						var ga_dimension6 = "";
						var ga_dimension7 = "{{ object.category.all.0 }}";

						var galurl;
						var galjson = [];

						galurl = '/apf/{{ object.id }}/json/';
					};
					</script>

							<div class="w_col w_C130 Aoff Boff">&nbsp;</div>

						</div> <!-- /.w_row -->

					</section>

				{% else %}
					
					{% if object.image_count = 1 %}
					<section>
						
						<div class="w_row">
							
							<div class="w_col w_C130 Aoff Boff">&nbsp;</div>
							
							<div class ="w_col w_C640 w_D980">
								
								<figure>
								
								{% with object.image_set.all.0 as ap_image %}
									
									{% thumbnail ap_image.image "990x990" as im %}
										<img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{ ap_image.alt_text }}">
										
										<div class="photo-info" style="padding:0;">
											<p><span class="caption gal-caption">{{ ap_image.caption }}</span></p>
										</div>
										
									{% endthumbnail %}
									
								{% endwith %}
								
								</figure>
								
								<hr>
								
							</div> <!-- /.w_col -->
							
							<div class="w_col w_C130 Aoff Boff">&nbsp;</div>
							
						</div> <!-- /.w_row -->
						
					</section>
					{% endif %}

				{% endif %}

				<div class="w_row">

					<div class="w_col w_C130 Aoff Boff">&nbsp;</div>

					<div class="w_col w_C640 w_D980">

						<div class="fix">

							<div id="meta">

								<p class="byline name byline1">
									{{ object.byline|lower|title }}
								</p>

								<p class="byline organization byline2">
									{% firstof object.byline_title object.contributor %}
								</p>

								<p class="pub pub1">
									Updated: <time pubdate datetime="{{ object.updated }}">{{ object.updated|date:"P, N j" }}</time>
								</p>

								<!-- object published: {{ object.published }} object updated: {{ object.updated }} -->

							</div> <!-- /#meta -->

							{# Go to www.addthis.com/dashboard to customize your tools #}
							<div class="sharing addthis_sharing_toolbox"></div>

						</div> <!-- /.fix -->

					</div> <!-- /.w_col -->

					<div class="w_col w_C130 Aoff Boff">&nbsp;</div>

				</div> <!-- .w_row -->

			</header>

			<hr>

			<div class="w_row">

				<div class="w_col w_C130 Aoff Boff">&nbsp;</div>

				<div class="w_col w_C640 w_D980">

					<div id="story">

						{# https://github.com/registerguard/tracker/issues/541 & 542 #}
						{% with ps=object.body|splitter:"</p>"|slice:"0:-1" %}

							{% for p in ps %}

								{% if forloop.counter == 3 %}

									<div class="deep" style="margin-bottom:20px;">

										<!-- //////////////////// Medium Rectangle 1 \\\\\\\\\\\\\\\\\\\\ -->
										<div class='advert'><div id='medium-rectangle-1'><script>googletag.cmd.push(function() { googletag.display('medium-rectangle-1'); });</script></div></div>
										<!-- \\\\\\\\\\\\\\\\\\\\ Medium Rectangle 1 //////////////////// -->

									</div> <!-- /.deep -->

								{% endif %}

								{% if forloop.counter == 8 %}
								
								<div class="deep">
									
									<!-- //////////////////// Medium Rectangle 2 \\\\\\\\\\\\\\\\\\\\ -->
									<div class="advert"><div id='medium-rectangle-2'><script>googletag.cmd.push(function() { googletag.display('medium-rectangle-2'); });</script></div></div>
									<!-- \\\\\\\\\\\\\\\\\\\\ Medium Rectangle 2 //////////////////// -->
									
								</div> <!-- /.deep -->
								{% endif %}
								
								{# Note: This is "p | urlize" #}
								{{ p|urlize }}</p>

							{% endfor %}

						{% endwith %}

					</div> <!-- /#story -->

					<div class="w_col w_C130 Aoff Boff">&nbsp;</div>

				</div> <!-- /.w_col -->

			</div> <!-- /.w_row -->

		</article>

		<hr>
{% comment %}
		<div class="w_row">

			<div class="w_col w_C130 Aoff Boff">&nbsp;</div>

			<div class="w_col w_C640 w_D980">

				<section id="other_stories">

					<!-- {% debug %}-->
					<h1 class="head"><a href="{% url ap_topic_index page.cat 20 %}">More stories from today's Register-Guard</a></h1>

					{% get_latest turin.Story 5 as latest_stories %}

					{% for latest_story in latest_stories %}

						<article>

							<div class="force">

								<header>

									<span class="stamp" style="float:right;">
										<time datetime="{{ latest_story.run_date|date:'c' }}">{{ latest_story.run_date|date:'P' }}</time>
									</span>

									<hgroup>

										<h2 class="label">{{ latest_story.get_subcategory_display }}</h2>

										<h1 class="h5">

											<a href="{{ latest_story.get_dt_absolute_url }}">{% firstof latest_story.headline latest_story.header|striptags %}</a>

										</h1>

									</hgroup>

								</header>

							</div> <!-- /.force -->

						</article>

						{% if not forloop.last %}<hr>{% endif %}

					{% endfor %}

				</section>

			</div> <!-- /.w_col -->

			<div class="w_col w_C130 Aoff Boff">&nbsp;</div>

		</div> <!-- /.w_row -->

		<hr>
{% endcomment %}
		<div class="w_row">

			<div class="w_col w_C130 Aoff Boff">&nbsp;</div>

			<div class="w_col w_C640 w_D980">

				<section id="other_stories">

					<h1 class="head"><a href="{% url ap_topic_index page.cat 20 %}">More stories from The Associated Press</a></h1>

					{% get_latest ap_wfm.APStory 5 as latest_stories %}

					{% for latest_story in latest_stories %}

						<article>

							<div class="force">

								<header>

									<span class="stamp" style="float:right;">
										<time datetime="{{ latest_story.updated|date:'c' }}">{{ latest_story.updated|date:'P' }}</time>{% if latest_story.location %}, {{ latest_story.location }}{% endif %}
									</span>

									<hgroup>

										<h2 class="label">{{ latest_story.category.all.0.name }}</h2>

										<h1 class="h5"{% if forloop.last %} style="padding-bottom:20px;"{% endif %}>

											<a href="{{ latest_story.get_absolute_url }}">{{ latest_story.headline }}</a>

										</h1>

									</hgroup>

								</header>

							</div> <!-- /.force -->

						</article>

						{% if not forloop.last %}<hr>{% endif %}

					{% endfor %}

				</section>

			</div>

			<div class="w_col w_C130 Aoff Boff">&nbsp;</div>

		</div> <!-- /.w_row -->

	{% endautoescape %}

{% endblock body %}

{% block footer_last %}
	<script src="//registerguard.com/csp/cms/sites/rg/assets/includes/slider02.csp"></script>

	<!-- http://www.addthis.com/services/list -->
	<script>var addthis_config={data_ga_property:'UA-882065-1',data_ga_social:true},addthis_share={url:'{{ request.get_full_path }}'};</script>
	<script src="//s7.addthis.com/js/300/addthis_widget.js#pubid=registerguard"></script>

{% endblock footer_last %}
