{% extends "ap_wfm/ap_wfm_story.html" %}

{% block comment %}

	Note: These templates use Dox filter "splitter".
	In the future, if/when we need story page for more than just AP
	Let’s figure out a way to move a lot of the below markup into the
	parent Dox bulldog story template. For now, no need to worry because
	story page views are only needed for this AP stuff.

	Keep in mind, both `page` and `object` exist. We’d need a way to
	abstract those objects in the parent so that other apps can use the
	same templates.

	~mh

{% endblock comment %}

{% load thumbnail_tags %}
{% load footer_links %}
{% load splitter %}

{% block head_title %}{{ object.headline }}{% endblock head_title %}

{% block location %}

	{% if page.title or page.description_short %}

		<header>

			<div id="loc">

				<hgroup>

					<div class="streamer">

						<h1><span>{% block location_title %}{% if page.title %}{{ page.title|safe }}{% else %}&nbsp;{% endif %}{% endblock location_title %}</span></h1>
						<h2>{% block location_description %}{% if page.description_short %}<a href="{% url ap_topic_index page.cat 20 %}">{{ page.description_short|safe }}</a>{% else %}&nbsp;{% endif %}{% endblock location_description %}</h2>

					</div> <!-- /.streamer -->

				</hgroup>

			</div> <!-- /#loc -->

		</header>

	{% endif %}

{% endblock location %}

{% block body %}

	{% autoescape off %}

		<article>

			<header>

				<div class="w_row">

					<div class="w_col w_C130 Aoff Boff">&nbsp;</div>

					<div class="w_col w_C640 w_D980">

						<div class="wrap give">

							<hgroup>

								<h1>{{ object.headline }}</h1>

							</hgroup>

						</div> <!-- /.wrap -->

					</div> <!-- /.w_col -->

					<div class="w_col w_C130 Aoff Boff">&nbsp;</div>

				</div> <!-- /.w_row -->

				<hr>

				{% if object.image_count %}

					<section>

						<div class="w_row">

							<div class="w_col w_C130 Aoff Boff">&nbsp;</div>

							<div class="w_col w_C640 w_D980">

								<div class="galleria" style="background-color: black; padding-top: 0;"></div> <!-- /.galleria -->

								<div class="photo-info">

									<p><span class="gal-count"></span> <span class="caption gal-caption">&nbsp;</span></p>

									<div style="clear:both"></div>

								</div> <!-- /.photo-info -->

								<hr>

							</div><!-- /.w_col -->

					<script>
					if (document.querySelector('.galleria')){
						var galurl;
						var galjson = [];
						
						galurl = 'http://projects.registerguard.com/apf/{{ object.id }}/json/';
					};
					</script>

{% comment %}
								<hgroup>

									<div class="streamer alt3" style="margin-top:0">

										<h1><a href="{% url ap_story_multimedia page.cat object.slug %}">Multimedia</a></h1>

										<h2 id="photo"><a href="#">Photo{{ all_story_images|pluralize }}</a></h2>

									</div> <!-- /.streamer -->

								</hgroup>

								<figure>

								{% with object.image_set.all as all_story_images %}

									{% for story_image in all_story_images %}

										{% if forloop.first %}

											<a href="{% url ap_story_multimedia page.cat object.slug %}#img_{{ story_image.id }}">
												<img src="{{ MEDIA_URL }}{% thumbnail story_image.image 980 100000 %}">
											</a>

											<figcaption>

												<div class="fix">

													<p class="caption" style="margin-bottom: 0">{{ story_image.caption }}</p>

												</div> <!-- /.fix -->

											</figcaption>

										{% endif %}

									{% endfor %}

									</figure>

									{% if forloop.last %}<hr>{% endif %}

									{% if not forloop.first and all_story_images|length > 1 %}

										<hr>

										<figure>

											<div class="pics">

											{% for story_image in all_story_images %}

												{% if not forloop.first %}

													<div class="pics-pic" style="background-image: url({{ MEDIA_URL }}{% thumbnail story_image.image 100 100 %})">
														<a href="{% url ap_story_multimedia page.cat object.slug %}#img_{{ story_image.id }}">&nbsp;</a>
													</div>

												{% endif %}

											{% endfor %}

											</div> <!-- /.pics -->

										</figure>

									{% endif %}

								{% endwith %}

							</div> <!-- /.w_col -->
{% endcomment %}
							<div class="w_col w_C130 Aoff Boff">&nbsp;</div>

						</div> <!-- /.w_row -->

					</section>

					<hr>

				{% endif %}

				<div class="w_row">

					<div class="w_col w_C130 Aoff Boff">&nbsp;</div>

					<div class="w_col w_C640 w_D980">

						<div class="fix">

							<div id="meta">

								<p class="byline name byline1">
									{{ object.byline|lower|title }}
								</p>

								<p class="byline organization byline2">
									{% firstof object.byline_title object.contributor %}
								</p>

								<p class="pub pub1">
									Updated: <time pubdate datetime="{{ object.updated }}">{{ object.updated|date:"P, N j" }}</time>
								</p>

								<!-- object published: {{ object.published }} object updated: {{ object.updated }} -->

							</div> <!-- /#meta -->

							<div class="sharing sharing-box_count addthis_toolbox">
								<div class="sharing-item sharing-facebook"><a class="addthis_button_facebook_like" fb:like:layout="box_count" fb:like:width="48"></a></div>
								<div class="sharing-item sharing-twitter"><a class="addthis_button_tweet" tw:count="vertical"></a></div>
								<!-- <div class="sharing-item sharing-googleplus"><a class="addthis_button_google_plusone" g:plusone:size="tall"></a></div> -->
								<!-- <div class="sharing-item sharing-linkedin"><a class="addthis_button_linkedin_counter" li:counter="top"></a></div> -->
								<div class="sharing-item"><a class="addthis_counter"></a></div>
							</div>

							<div class="sharing sharing-icons addthis_toolbox">
								<div class="sharing-item"><script>var pfHeaderImgUrl = '';var pfHeaderTagline = '';var pfdisableClickToDel = 0;var pfHideImages = 0;var pfDisablePDF = 0;var pfDisableEmail = 0;var pfDisablePrint = 0;var pfCustomCSS = '';var pfBtVersion='1';(function(){var js, pf;pf = document.createElement('script');pf.type = 'text/javascript';if('https:' == document.location.protocol){js='https://pf-cdn.printfriendly.com/ssl/main.js'}else{js='http://cdn.printfriendly.com/printfriendly.js'}pf.src=js;document.getElementsByTagName('head')[0].appendChild(pf)})();</script><a href="http://www.printfriendly.com" onclick="window.print();return false;"><img src="http://cdn.printfriendly.com/pf-icon-small.gif" alt="Print Friendly and PDF" width="16" height="16"></a></div>
								{# <div class="sharing-item"><a class="addthis_button_printfriendly"></a></div> #}
								{# <div class="sharing-item"><a class="addthis_button_print"></a></div> #}
								<div class="sharing-item"><a class="addthis_button_email"></a></div>
								<div class="sharing-item"><a class="addthis_button_gmail"></a></div>
								<div class="sharing-item"><a class="addthis_button_yahoomail"></a></div>
								<!-- <div class="sharing-item"><a class="addthis_button_delicious"></a></div> -->
								<div class="sharing-item"><a class="addthis_button_bitly"></a></div>
								<!-- <div class="sharing-item"><a class="addthis_button_stumbleupon"></a></div> -->
								<div class="sharing-item"><a class="addthis_button_reddit"></a></div>
								<!-- <div class="sharing-item"><a class="addthis_button_digg"></a></div> -->
								<div class="sharing-item"><a class="addthis_button_tumblr"></a></div>
								<div class="sharing-item"><a class="addthis_button_blogger"></a></div>
							</div>

						</div> <!-- /.fix -->

					</div> <!-- /.w_col -->

					<div class="w_col w_C130 Aoff Boff">&nbsp;</div>

				</div> <!-- .w_row -->

			</header>

			<hr>

			<div class="w_row">

				<div class="w_col w_C130 Aoff Boff">&nbsp;</div>

				<div class="w_col w_C640 w_D980">

					<div id="story">

						{# https://github.com/registerguard/tracker/issues/541 & 542 #}
						{% with object.body|splitter:"</p>"|slice:"0:-1" as ps %}

							{% for p in ps %}

								{% if forloop.counter == 3 %}

									<div class="deep">

										<!-- //////////////////// Medium Rectangle 1 \\\\\\\\\\\\\\\\\\\\ -->
										<div class="advert"><div id="medium-rectangle-1"><script>_ox.showAdUnit('537200298');</script></div></div>
										<!-- \\\\\\\\\\\\\\\\\\\\ Medium Rectangle 1 //////////////////// -->

									</div> <!-- /.deep -->

								{% endif %}

								{# Note: This is "p | urlize" #}
								{{ p|urlize }}</p>

							{% endfor %}

						{% endwith %}

					</div> <!-- /#story -->

					<div class="w_col w_C130 Aoff Boff">&nbsp;</div>

				</div> <!-- /.w_col -->

			</div> <!-- /.w_row -->

		</article>

		<hr>
{% comment %}
		<div class="w_row">

			<div class="w_col w_C130 Aoff Boff">&nbsp;</div>

			<div class="w_col w_C640 w_D980">

				<section id="other_stories">

					<!-- {% debug %}-->
					<h1 class="head"><a href="{% url ap_topic_index page.cat 20 %}">More stories from today's Register-Guard</a></h1>

					{% get_latest turin.Story 5 as latest_stories %}

					{% for latest_story in latest_stories %}

						<article>

							<div class="force">

								<header>

									<span class="stamp" style="float:right;">
										<time datetime="{{ latest_story.run_date|date:'c' }}">{{ latest_story.run_date|date:'P' }}</time>
									</span>

									<hgroup>

										<h2 class="label">{{ latest_story.get_subcategory_display }}</h2>

										<h1 class="h5">

											<a href="{{ latest_story.get_dt_absolute_url }}">{% firstof latest_story.headline latest_story.header|striptags %}</a>

										</h1>

									</hgroup>

								</header>

							</div> <!-- /.force -->

						</article>

						{% if not forloop.last %}<hr>{% endif %}

					{% endfor %}

				</section>

			</div> <!-- /.w_col -->

			<div class="w_col w_C130 Aoff Boff">&nbsp;</div>

		</div> <!-- /.w_row -->

		<hr>
{% endcomment %}
		<div class="w_row">

			<div class="w_col w_C130 Aoff Boff">&nbsp;</div>

			<div class="w_col w_C640 w_D980">

				<section id="other_stories">

					<h1 class="head"><a href="{% url ap_topic_index page.cat 20 %}">More stories from The Associated Press</a></h1>

					{% get_latest ap_wfm.APStory 5 as latest_stories %}

					{% for latest_story in latest_stories %}

						<article>

							<div class="force">

								<header>

									<span class="stamp" style="float:right;">
										<time datetime="{{ latest_story.updated|date:'c' }}">{{ latest_story.updated|date:'P' }}</time>{% if latest_story.location %}, {{ latest_story.location }}{% endif %}
									</span>

									<hgroup>

										<h2 class="label">{{ latest_story.category.all.0.name }}</h2>

										<h1 class="h5"{% if forloop.last %} style="padding-bottom:20px;"{% endif %}>

											<a href="{{ latest_story.get_absolute_url }}">{{ latest_story.headline }}</a>

										</h1>

									</hgroup>

								</header>

							</div> <!-- /.force -->

						</article>

						{% if not forloop.last %}<hr>{% endif %}

					{% endfor %}

				</section>

			</div>

			<div class="w_col w_C130 Aoff Boff">&nbsp;</div>

		</div> <!-- /.w_row -->

	{% endautoescape %}

{% endblock body %}

{% block footer_last %}

	<!-- http://www.addthis.com/services/list -->
	<script>var addthis_config={data_ga_property:'UA-882065-1',data_ga_social:true},addthis_share={url:'{{ request.get_full_path }}'};</script>
	<script src="//s7.addthis.com/js/300/addthis_widget.js#pubid=registerguard"></script>

{% endblock footer_last %}
