{% extends "ap_wfm/ap_wfm.html" %}
{% load get_url_content %}

{% block head_title %}{{ page.description_short|title }} | The Associated Press{% endblock head_title %}

{% block head_parsely %}
<script type="application/ld+json">
	{
		"@context": "http://schema.org",
		"@type": "NewsArticle",
		"headline": "AP {{ page.description_short|title }} index {{ object_list.0.published|date:"F, Y" }}, The Register-Guard",
		"url": "http://{{ request.META.HTTP_HOST }}{{ request.path }}",
		"thumbnailUrl": "https://www.registerguard.com/Global/images/head/nameplate/fb/registerguard_fb_300x300.png",
		"datePublished": "{{ object_list.0.published|date:'Y-m'}}-01T00:00:00",
		"dateModified": "{{ object_list.0.updated|date:'c' }}",
		"articleSection": "News",
		"keywords": ["heasly"]
	}
</script>
<!-- /Parse.ly global main meta -->
{% endblock head_parsely %}

{% block content %}
<section class="section-summary basicHeadlines fullRow">

<h1 class="heading">News from {% if is_region %}{{ object_list.0.contributor }}{% else %}around Oregon{% endif %}</h1>
	{% for story in object_list %}
		
		{% if story.category.all.0 %}

		<article class="summary">
			
			<div class="inner">

				<div class="teaser">

					{% if "region" in story.category.all|join:"" %}<span class="article-v2"><span class="inner"><span class="article-body"><span class="byline"><a href="{% url contributor_index story.contributor 25 %}">{{ story.contributor }}</a></span></span></span></span>{% endif %}

					<header>
						<h2 class="headline" style="overflow-wrap: break-word;">
						<a href="{% url ap_story_detail story.category.all.0 story.slug %}"><span>{{ story.headline }}</span></a>
						</h2>
					</header>

					<div class="excerpt is-truncated" style="overflow-wrap: break-word;">{{ story.body|safe|striptags|truncatewords:25 }}</div>
					<!-- category: {{ category }}; current_site: {{ current_site }} -->
					<span class="dateline">Updated: {{ story.updated|date:"P, N j" }}</span>

				</div><!-- /.teaser -->

			</div><!-- /.inner -->

		</article>
		
		{% endif %}
		
	{% endfor %}
</section>
{% endblock content %}
