{% extends "ap_wfm/ap_wfm.html" %}

{% block head_title %}{{ page.title|title }} | {{ page.description_short }}{% endblock head_title %}

{% block content %}

	<div class="w_row">
		
		<div class="w_col w_B300 w_C640 w_D980">
			
			{# This HTML5 markup needs to be reconsidered. #}
			
			<section>
				
				<h1 class="heading" style="margin-bottom: .5em;">Pacific Northwest news from the AP</h1>
				
				<div class="col-md-6">
					
					<h2 class="heading">Latest Oregon news</h2>
					
					{% for story in object_list %}
						
						{% if story.category.all.0 %}
						
							<article>
							
								<h2 class="headline"><a href="{% url ap_story_detail story.category.all.0 story.slug %}">{{ story.headline }}</a></h2>
							
								<p>{{ story.body|safe|striptags|truncatewords:25 }}</p>
							
								<p class="pub pub1">updated: {{ story.updated|date:"P, N j" }}</p>
							
							</article>
							
							<hr>
							
						{% endif %}
						
					{% endfor %}

				</div> <!-- /.col-md-6 -->
					
				<div class="col-md-6">

					<h2 class="heading">Latest Washington news</h2>
						
					{% for story in wash_stories %}
						
						{% if story.category.all.0 %}
						
							<article>
							
								<h2 class="headline"><a href="{% url ap_story_detail story.category.all.0 story.slug %}">{{ story.headline }}</a></h2>
							
								<p>{{ story.body|safe|striptags|truncatewords:25 }}</p>
							
								<p class="pub pub1">updated: {{ story.updated|date:"P, N j" }}</p>
								
							</article>
							
							<hr>
							
						{% endif %}
						
					{% endfor %}
					
				</div> <!-- /.col-md-6 -->
				
			</section>
			
		</div> <!-- .w_col -->
		
	</div> <!-- .w_row -->
	
{% endblock content %}
