{% with build="/v5/bulldog/dist/1.0.0/20140214/1" %}

{% load remote_include %}

<!doctype html>
<!--[if IE 6]>         <html class="no-js ie6 lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js ie7 lt-ie9 lt-ie8">        <![endif]-->
<!--[if IE 8]>         <html class="no-js ie8 lt-ie9">               <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js no-touch">                 <!--<![endif]-->

<head>
	
	<meta charset="utf-8">
	
	<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
	<meta http-equiv="cleartype" content="on">
	
	<title>{% block head_title %}{% endblock head_title %}{% block head_title_extra %} | The Register-Guard | Eugene, Oregon{% endblock head_title_extra %}</title>
	<meta name="description" content="{% block head_description %}{% endblock head_description %}">
	<meta name="keywords" content="{% block head_keywords %}{% endblock head_keywords %}">
	
	<meta name="verify-v1" content="FPxMUeDPHJaIRBh+RAEc0QZisGX9WHLZuqlbleiLe3c=">
	<meta name="google-site-verification" content="-b9kSGtOMT3DZyn5y1faDWWBN74GtyBDZlCDJuf39Yc">
	<meta name="y_key" content="c812b5bf5b82479c">
	
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<script src="http://static.registerguard.com{{ build }}/js/preflight.min.js"></script>
	
	<!--[if (lt IE 9) & (!IEMobile 7)]>
		
		<script src="http://static.registerguard.com{{ build }}/js/html5shiv-printshiv.min.js"></script>
		
		{% block respond_conditional %}
			
			<link href="http://static.registerguard.com/respond-proxy.html" id="respond-proxy" rel="respond-proxy">
			<link href="{% block respond_gif %}http://projects.registerguard.com/respond.proxy.gif{% endblock respond_gif %}" id="respond-redirect" rel="respond-redirect">
			
		{% endblock respond_conditional %}
		
	<![endif]-->
	
	{# (What's this for now? The following issue is closed, so can this be removed? https://github.com/registerguard/bulldog/issues/41 #}
	{% block temp %}{% endblock temp %}
	
	<link rel="stylesheet" href="http://static.registerguard.com{{ build }}/css/bulldog.min.css">
	
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="http://registerguard.com/apple-touch-icon-144x144-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="http://registerguard.com/apple-touch-icon-114x114-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="http://registerguard.com/apple-touch-icon-72x72-precomposed.png">
	<link rel="apple-touch-icon-precomposed" href="http://registerguard.com/apple-touch-icon-57x57-precomposed.png">
	<link rel="shortcut icon" href="http://www.registerguard.com/favicon.ico">
	<meta name="msapplication-TileImage" content="http://registerguard.com/apple-touch-icon-144x144-precomposed.png">
	<meta name="msapplication-TileColor" content="#ffffff">
	
	<link rel="image_src" href="http://registerguard.com/apple-touch-icon-144x144-precomposed.png">
	
	<!-- [BEGIN] ad_manager -->
	<link rel="stylesheet" href="http://advertising.registerguard.com/static/ad_manager/benjamins/css/onmediaquery.css">
	<link rel="stylesheet" href="http://advertising.registerguard.com/static/ad_manager/benjamins/css/ad_manager.css">
	<!-- [END] ad_manager -->
	
	{% block head_extra %}{% endblock head_extra %}
	
</head>
<body>
	
	<div class="wiffle">
		
		{% block header %}
			
			<header>
				
				<div id="bd_ear">
					
					<ul>
						{# What sub-templates are using the current_date block? We should opt to use block time instead (because of the datetime attribute). #}
						<li>{% block time %}<time datetime="{% now "Y-m-d\TH:m:sO" %}">{% block current_date %}<span>{% now "l" %}, </span>{% now "F j, Y" %}{% endblock current_date %}</time>{% endblock time %}</li>
						<li><a href="http://services.registerguard.com/">Subscriber Services</a></li>
						<li><a href="http://registerguard.com/homes">Homes</a></li>
						<li><a href="http://registerguard.com/autos">Autos</a></li>
						<li><a href="http://registerguard.com/jobs">Jobs</a></li>
						<li><a href="http://registerguard.com/classifieds">Classified</a></li>
						<li><a href="http://registerguard.com">Home</a></li>
					</ul>
					
				</div> <!-- /#bd_ear -->
				
				<div id="bd_masthead">
					
					<h1 id="bd_flag"><a href="http://registerguard.com">The Register-Guard</a></h1>
					
					<div id="forecast">{% block weather_ad %}<div class="button_1 advert"><div id="button_1"></div></div>{% endblock weather_ad %}</div>
					
					<nav>
						
						<div id="bd_proof">
							
							<h1 class="bd_cut">Navigation</h1>
							
							<ul id="megawhale" class="mw-ul">
								
								<li class="mw-li">
									
									<a class="mw-a" href="http://registerguard.com">News</a>
									
									<div class="mw-div">
										
										<div class="bd_filler">
											
											<div class="w_line">
												
												<div class="w_unit w_C1of4">
													
													<div class="bd_gutter">
														
														<ul class="bd_scoop">
															<li><a href="http://registerguard.com">Home</a></li>
															<li><a href="http://registerguard.com/rg/news/local/">Local</a></li>
															<li><a href="mailto:newstips@registerguard.com">News Tips</a></li>
															<li><a href="http://registerguard.com/rg/news/obituaries/">Obituaries</a></li>
															<li><a href="http://projects.registerguard.com/weather/">Weather</a></li>
															<li><a href="http://registerguard.com/rg/news/local/#stories">For the Record</a></li>
															<li><a href="http://registerguard.com/rg/news/local/#archive">Latest Seven Days</a></li>
															<li><a href="http://registerguard.com/newsletters">E-mail Newsletter</a></li>
														</ul> <!-- /.bd_scoop -->
														
													</div> <!-- /.bd_gutter -->
													
												</div> <!-- /.w_unit -->
												
												<div class="w_unit w_C1of2">
													
													<div class="bd_gutter">
														
														<h2 class="bd_insert">Associated Press</h2>
														
														<div class="w_line">
															
															<div class="w_unit w_C1of2">
																
																<ul class="bd_scoop">
																	<li><a href="http://projects.registerguard.com/apf/top/index/25/">Top Stories</a></li>
																	<li><a href="http://projects.registerguard.com/apf/nwn/index/25/">Northwest Now</a></li>
																	<li><a href="http://projects.registerguard.com/apf/biz/index/25/">Business</a></li>
																	<li><a href="http://projects.registerguard.com/apf/ore/portland-stocks/">Portland Stocks</a></li>
																	<li><a href="http://projects.registerguard.com/apf/oregon-sports/index/25/">Oregon Sports</a></li>
																	<li><a href="http://projects.registerguard.com/apf/sports/index/25/">Sports</a></li>
																	<li><a href="http://projects.registerguard.com/apf/tech/index/25/">Technology</a></li>
																	<li><a href="http://projects.registerguard.com/apf/enter/index/25/">Entertainment</a></li>
																	<li><a href="http://projects.registerguard.com/apf/politics/index/25/">Politics</a></li>
																</ul> <!-- /.bd_scoop -->
																
															</div> <!-- /.w_unit -->
															
															<div class="w_unit w_C1of2 w_Cfix">
																
																<ul class="bd_scoop">
																	<li><a href="http://projects.registerguard.com/apf/wx/index/25/">Weather</a></li>
																	<li><a href="http://projects.registerguard.com/apf/us/index/25/">National</a></li>
																	<li><a href="http://projects.registerguard.com/apf/intl/index/25/">International</a></li>
																	<li><a href="http://projects.registerguard.com/apf/health/index/25/">Health</a></li>
																	<li><a href="http://projects.registerguard.com/apf/sci/index/25/">Science</a></li>
																	<li><a href="http://projects.registerguard.com/apf/odd/index/25/">Oddities</a></li>
																	<li><a href="http://projects.registerguard.com/apf/lotteries/index/10/">Lotteries</a></li>
																	<li><a href="http://projects.registerguard.com/pages/ap/podcasts/">Podcasts</a></li>
																</ul> <!-- /.bd_scoop -->
																
															</div> <!-- /.w_unit -->
															
														</div> <!-- /.w_line -->
														
													</div> <!-- /.bd_gutter -->
													
												</div> <!-- /.w_unit -->
												
												<div class="w_unit w_C1of4 w_Cfix">
													
													<div class="bd_gutter">
														
														<h2 class="bd_insert">Maps</h2>
														
														<ul class="bd_scoop">
															<li><a href="http://projects.registerguard.com/police/eugene/">Eugene police call log</a></li>
															<li><a href="http://projects.registerguard.com/police/springfield/">Springfield police call log</a></li>
														</ul> <!-- /.bd_scoop -->
														
														<h2 class="bd_insert">Blogs</h2>
														
														<ul class="bd_scoop">
															<li><a href="http://blogs.registerguard.com/school-talk/">School Talk</a></li>
															<li><a href="http://blogs.registerguard.com/tastings/">Tastings</a></li>
															<li><a href="http://blogs.registerguard.com/multimedia/">Multimedia</a></li>
														</ul> <!-- /.bd_scoop -->
														
														<h2 class="bd_insert">Follow us on Facebook</h2>
														
														<ul class="bd_scoop">
															<li><a href="http://www.facebook.com/registerguard">fb.com/registerguard</a></li>
														</ul> <!-- /.bd_scoop -->
														
														<h2 class="bd_insert">Follow us on Twitter</h2>
														
														<ul class="bd_scoop">
															<li><a href="https://twitter.com/registerguard">@registerguard</a></li>
														</ul> <!-- /.bd_scoop -->
														
													</div> <!-- /.bd_gutter -->
													
												</div> <!-- /.w_unit -->
												
											</div> <!-- /.w_line -->
											
										</div> <!-- /.bd_filler -->
										
									</div> <!-- /.mw-div -->
									
								</li> <!-- /.mw-li -->
								
								<li class="mw-li">
									
									<a class="mw-a" href="http://registerguard.com/rg/sports/">Sports</a>
									
									<div class="mw-div">
										
										<div class="bd_filler">
											
											<div class="w_line">
												
												<div class="w_unit w_C1of4">
													
													<div class="bd_gutter">
														
														<ul class="bd_scoop">
															<li><a href="http://registerguard.com/rg/sports/">Local</a></li>
															<li><a href="http://registerguard.com/rg/sports/football/">Oregon Ducks Football</a></li>
															<li><a href="http://registerguard.com/pressbox">The Press Box</a></li>
															<li><a href="http://registerguard.com/rg/sports/#austin-meek">Columnist Austin Meek</a></li>
															<li><a href="http://registerguard.com/rg/sports/basketball/">Oregon Basketball</a></li>
															<li><a href="http://registerguard.com/rg/sports/trackandfield/">Track &amp; Field</a></li>
															<li><a href="http://registerguard.com/rg/sports/preps/">Preps</a></li>
															<li><a href="http://registerguard.com/rg/sports/outdoors/">Outdoors</a></li>
															<li><a href="http://registerguard.com/rg/sports/#archive">Latest Seven Days</a></li>
														</ul> <!-- /.bd_scoop -->
														
													</div> <!-- /.bd_gutter -->
													
												</div> <!-- /.w_unit -->
												
												<div class="w_unit w_C1of4">
													
													<div class="bd_gutter">
														
														<h2 class="bd_insert">Blogs</h2>
														
														<ul class="bd_scoop">
															<li><a href="http://blogs.registerguard.com/oregon-football/">Oregon Football</a></li>
															<li><a href="http://blogs.registerguard.com/burnt-ends/">Burnt Ends</a></li>
															<li><a href="http://blogs.registerguard.com/track-and-field/">Track &amp; Field</a></li>
															<li><a href="http://blogs.registerguard.com/talkin-baseball/">Talkin' Baseball</a></li>
															<li><a href="http://blogs.registerguard.com/oregon-mens-basketball/">Oregon Men's Basketball</a></li>
															<li><a href="http://blogs.registerguard.com/xs-and-os/">Xs &amp; Os</a></li>
															<li><a href="http://blogs.registerguard.com/oregon-womens-basketball/">Oregon Women's Basketball</a></li>
															<li><a href="http://blogs.registerguard.com/prep-sports/">Prep Sports</a></li>
															<li><a href="http://blogs.registerguard.com/multimedia/">Multimedia</a></li>
														</ul> <!-- /.bd_scoop -->
														
													</div> <!-- /.bd_gutter -->
													
												</div> <!-- /.unit -->
												
												<div class="w_unit w_C1of4">
													
													<div class="bd_gutter">
														
														<h2 class="bd_insert">Associated Press Sports</h2>
														
														<ul class="bd_scoop">
															<li><a href="http://projects.registerguard.com/apf/oregon-sports/index/25/">Oregon Sports</a></li>
															<li><a href="http://registerguard.stats.com/cfb/front.asp">NCAA</a> | <a href="http://registerguard.stats.com/cfb/scoreboards.asp">Scoreboard</a></li>
															<li><a href="http://registerguard.stats.com/cbk/front.asp">NCAA Men's Basketball</a> | <a href="http://registerguard.stats.com/cbk/scoreboard.asp">Scoreboard</a></li>
															<li><a href="http://registerguard.stats.com/wcbk/front.asp">NCAA Women's Basketball</a> | <a href="http://registerguard.stats.com/wcbk/scoreboards.asp">Scoreboard</a></li>
														</ul> <!-- /.bd_scoop -->
														
													</div> <!-- /.bd_gutter -->
													
												</div> <!-- /.w_unit -->
												
												<div class="w_unit w_C1of4 w_Cfix">
													
													<div class="bd_gutter">
														
														<h2 class="bd_insert">Follow us on Facebook</h2>
														
														<ul class="bd_scoop">
															<li><a href="http://www.facebook.com/registerguard">fb.com/registerguard</a></li>
														</ul>
														
														<h2 class="bd_insert">Follow us on Twitter</h2>
														
														<ul class="bd_scoop">
															<li><a href="https://twitter.com/rgduckfootball">@rgduckfootball</a></li>
															<li><a href="https://twitter.com/rgsports">@rgsports</a></li>
														</ul> <!-- /.bd_scoop -->
														
													</div> <!-- /.bd_gutter -->
													
												</div> <!-- /.w_unit -->
												
											</div> <!-- /.w_line -->
											
										</div> <!-- /.bd_filler -->
										
									</div> <!-- /.mw-div -->
									
								</li> <!-- /.mw-li -->
								
								<li class="mw-li">
									
									<a class="mw-a" href="http://registerguard.com/rg/business/">Business</a>
									
									<div class="mw-div">
										
										<div class="bd_filler">
											
											<div class="w_line">
												
												<div class="w_unit w_C1of4">
													
													<div class="bd_gutter">
														
														<ul class="bd_scoop">
															<li><a href="http://registerguard.com/rg/business/">Local</a></li>
															<li><a href="http://registerguard.com/rg/business/bluechip/">Blue Chip</a></li>
															<li><a href="http://registerguard.com/rg/business/#lookup">Stock Lookup</a></li>
															<li><a href="http://registerguard.com/rg/business/#archive">Latest Seven Days</a></li>
														</ul> <!-- /.bd_scoop -->
														
													</div> <!-- /.bd_gutter -->
													
												</div> <!-- /.w_unit -->
												
												<div class="w_unit w_C1of4">
													
													<div class="bd_gutter">
														
														<ul class="bd_scoop">
															<li><a href="http://registerguard.com/rg/business/#tools">Investor Tools</a></li>
															<li><a href="http://registerguard.com/rg/business/#spotlight">Business Spotlight</a></li>
															<li><a href="http://blogs.registerguard.com/storytellers/">Storytellers</a></li>
														</ul> <!-- /.bd_scoop -->
														
													</div> <!-- /.bd_gutter -->
													
												</div> <!-- /.unit -->
												
												<div class="w_unit w_C1of4">
													
													<div class="bd_gutter">
														
														<ul class="bd_scoop">
															<li><a href="http://bizfinder.registerguard.com/">Business Directory</a></li>
															<li><a href="http://projects.registerguard.com/apf/ore/portland-stocks/">Portland Stocks</a></li>
														</ul> <!-- /.bd_scoop -->
														
													</div> <!-- /.bd_gutter -->
													
												</div> <!-- /.w_unit -->
												
												<div class="w_unit w_C1of4 w_Cfix">
													
													<div class="bd_gutter">
														
														<h2 class="bd_insert">Follow us on Facebook</h2>
														
														<ul class="bd_scoop">
															<li><a href="http://www.facebook.com/registerguard">fb.com/registerguard</a></li>
														</ul> <!-- /.bd_scoop -->
														
														<h2 class="bd_insert">Follow us on Twitter</h2>
														
														<ul class="bd_scoop">
															<li><a href="https://twitter.com/registerguard">@registerguard</a></li>
														</ul> <!-- /.bd_scoop -->
														
													</div> <!-- /.bd_gutter -->
													
												</div> <!-- /.w_unit -->
												
											</div> <!-- /.w_line -->
											
										</div> <!-- /.bd_filler -->
										
									</div> <!-- /.mw-div -->
									
								</li> <!-- /.mw-li -->
								
								<li class="mw-li">
									
									<a class="mw-a" href="http://registerguard.com/rg/opinion/">Opinion</a>
									
									<div class="mw-div">
										
										<div class="bd_filler">
											
											<div class="w_line">
												
												<div class="w_unit w_C1of4">
													
													<div class="bd_gutter">
														
														<ul class="bd_scoop">
															<li><a href="http://registerguard.com/rg/opinion/">Editorials</a></li>
															<li><a href="http://registerguard.com/rg/opinion/">Letters</a></li>
															<li><a href="http://registerguard.com/rg/opinion/#archive">Latest Seven Days</a></li>
														</ul> <!-- /.bd_scoop -->
														
													</div> <!-- /.bd_gutter -->
													
												</div> <!-- /.w_unit -->
												
												<div class="w_unit w_C1of2">
													
													<div class="bd_gutter">
														
														<ul class="bd_scoop">
															<li><a href="http://registerguard.com/rg/opinion/#viewpoint">Guest Viewpoint</a></li>
															<li><a href="http://registerguard.com/rg/opinion/#letter">Contribute your Opinion</a></li>
															<li><a href="http://registerguard.com/rg/opinion/endorsements/">Endorsements</a></li>
														</ul> <!-- /.bd_scoop -->
														
													</div> <!-- /.bd_gutter -->
													
												</div> <!-- /.w_unit -->
												
												<div class="w_unit w_C1of4 w_Cfix">
													
													<div class="bd_gutter">
														
														<h2 class="bd_insert">Follow us on Facebook</h2>
														
														<ul class="bd_scoop">
															<li><a href="http://www.facebook.com/registerguard">fb.com/registerguard</a></li>
														</ul> <!-- /.bd_scoop -->
														
														<h2 class="bd_insert">Follow us on Twitter</h2>
														
														<ul class="bd_scoop">
															<li><a href="https://twitter.com/registerguard">@registerguard</a></li>
														</ul> <!-- /.bd_scoop -->
														
													</div> <!-- /.bd_gutter -->
													
												</div> <!-- /.w_unit -->
												
											</div> <!-- /.w_line -->
											
										</div> <!-- /.bd_filler -->
										
									</div> <!-- /.mw-div -->
									
								</li> <!-- /.mw-li -->
								
								<li class="mw-li">
									
									<a class="mw-a" href="http://registerguard.com/rg/life/">Life</a>
									
									<div class="mw-div">
										
										<div class="bd_filler">
											
											<div class="w_line">
												
												<div class="w_unit w_C1of4">
													
													<div class="bd_gutter">
														
														<ul class="bd_scoop">
															<li><a href="http://registerguard.com/rg/life/lifestyles/">Lifestyles</a></li>
															<li><a href="http://registerguard.com/rg/life/food/">Food</a></li>
															<li><a href="http://registerguard.com/rg/life/tastings/">Tastings</a></li>
															<li><a href="http://registerguard.com/rg/life/healthandfitness/">Health &amp; Fitness</a></li>
															<li><a href="http://registerguard.com/choice">Readers' Choice</a></li>
														</ul> <!-- /.bd_scoop -->
														
													</div> <!-- /.bd_gutter -->
													
												</div> <!-- /.w_unit -->
												
												<div class="w_unit w_C1of4">
													
													<div class="bd_gutter">
														
														<ul class="bd_scoop">
															<li><a href="http://registerguard.com/rg/life/dash/">Dash</a></li>
															<!--<li><a href="http://registerguard.com/rg/life/weekend/">Weekend</a></li>-->
															<li><a href="http://registerguard.com/rg/life/homeandgarden/">Home &amp; Garden</a></li>
															<li><a href="http://registerguard.com/rg/sports/outdoors/">Outdoors</a></li>
															<li><a href="http://registerguard.com/rg/life/discovery/">Discovery</a></li>
															<li><a href="http://parade.com/">Parade</a></li>
														</ul> <!-- /.bd_scoop -->
														
													</div> <!-- /.bd_gutter -->
													
												</div> <!-- /.w_unit -->
												
												<div class="w_unit w_C1of4">
													
													<div class="bd_gutter">
														
														<h2 class="bd_insert">Blogs</h2>
														
														<ul class="bd_scoop">
															<li><a href="http://blogs.registerguard.com/tastings/">Tastings</a></li>
															<li><a href="http://blogs.registerguard.com/multimedia/">Multimedia</a></li>
														</ul> <!-- /.bd_scoop -->
														
													</div> <!-- /.bd_gutter -->
													
												</div> <!-- /.w_unit -->
												
												<div class="w_unit w_C1of4 w_Cfix">
													
													<div class="bd_gutter">
														
														<h2 class="bd_insert">Follow us on Facebook</h2>
														
														<ul class="bd_scoop">
															<li><a href="http://www.facebook.com/registerguard">fb.com/registerguard</a></li>
														</ul> <!-- /.bd_scoop -->
														
														<h2 class="bd_insert">Follow us on Twitter</h2>
														
														<ul class="bd_scoop">
															<li><a href="https://twitter.com/registerguard">@registerguard</a></li>
														</ul> <!-- /.bd_scoop -->
														
													</div> <!-- /.bd_gutter -->
													
												</div> <!-- /.w_unit -->
												
											</div> <!-- /.w_line -->
											
										</div> <!-- /.bd_filler -->
										
									</div> <!-- /.mw-div -->
									
								</li> <!-- /.mw-li -->
								
								<li class="mw-li">
									
									<a class="mw-a" href="http://registerguard.com/rg/entertainment/">Entertainment</a>
									
									<div class="mw-div">
										
										<div class="bd_filler">
											
											<div class="w_line">
												
												<div class="w_unit w_C1of4">
													
													<div class="bd_gutter">
														
														<ul class="bd_scoop">
															<li><a href="http://registerguard.com/rg/entertainment/">Entertainment</a></li>
															<li><a href="http://registerguard.com/rg/entertainment/arts/">Arts</a></li>
															<li><a href="http://registerguard.com/rg/entertainment/encore/">Encore</a></li>
															<li><a href="http://affiliate.zap2it.com/tvlistings/ZCGrid.do?aid=oreurg">TV Listings</a></li>
															<li><a href="http://movies.yahoo.com/showtimes/eugene-or/">Movie Listings</a></li>
														</ul> <!-- /.bd_scoop -->
														
													</div> <!-- /.bd_gutter -->
													
												</div> <!-- /.w_unit -->
												
												<div class="w_unit w_C1of4">
													
													<div class="bd_gutter">
														
														<ul class="bd_scoop">
															<li><a href="http://go.registerguard.com/entertainment/">Go Entertainment</a></li>
															<li><a href="http://projects.registerguard.com/pages/entertainment/calendar/">Submit an event</a>
															<li><a href="http://happyhours.registerguard.com/">Happy Hours</a></li>
															<li><a href="http://registerguard.com/newsletters">E-mail Newsletter</a></li>
														</ul> <!-- /.bd_scoop -->
														
													</div> <!-- /.bd_gutter -->
													
												</div> <!-- /.w_unit -->
												
												<div class="w_unit w_C1of4">
													
													<div class="bd_gutter">
														
														<h2 class="bd_insert">Blogs</h2>
														
														<ul class="bd_scoop">
															<li><a href="http://blogs.registerguard.com/tastings/">Tastings</a></li>
															<li><a href="http://blogs.registerguard.com/multimedia/">Multimedia</a></li>
														</ul> <!-- /.bd_scoop -->
														
													</div> <!-- /.bd_gutter -->
													
												</div> <!-- /.w_unit -->
												
												<div class="w_unit w_C1of4 w_Cfix">
													
													<div class="bd_gutter">
														
														<h2 class="bd_insert">Follow us on Facebook</h2>
														
														<ul class="bd_scoop">
															<li><a href="http://www.facebook.com/registerguard">fb.com/registerguard</a></li>
														</ul> <!-- /.bd_scoop -->
														
														<h2 class="bd_insert">Follow us on Twitter</h2>
														
														<ul class="bd_scoop">
															<li><a href="https://twitter.com/registerguard">@registerguard</a></li>
														</ul> <!-- /.bd_scoop -->
														
													</div> <!-- /.bd_gutter -->
													
												</div> <!-- /.w_unit -->
												
											</div> <!-- /.w_line -->
											
										</div> <!-- /.bd_filler -->
										
									</div> <!-- /.mw-div -->
									
								</li> <!-- /.mw-li -->
								
								<li class="mw-li">
									
									<a class="mw-a" href="http://registerguard.com/rg/news/obituaries/">Obits</a>
									
									<div class="mw-div">
										
										<div class="bd_filler">
											
											<div class="w_line">
												
												<div class="w_unit w_C1of4">
													
													<div class="bd_gutter">
														
														<ul class="bd_scoop">
															<li><a href="http://registerguard.com/rg/news/obituaries/">Obituaries</a></li>
														</ul> <!-- /.bd_scoop -->
														
													</div> <!-- /.bd_gutter -->
													
												</div> <!-- /.w_unit -->
												
												<div class="w_unit w_C1of4">
													
													<div class="bd_gutter">
														
														<ul class="bd_scoop">
															<li><a href="http://www.legacy.com/obituaries/registerguard/obituary-search.aspx">Obituary search</a></li>
														</ul> <!-- /.bd_scoop -->
														
													</div> <!-- /.bd_gutter -->
													
												</div> <!-- /.w_unit -->
												
												<div class="w_unit w_C1of2">
													
													<div class="bd_gutter">
														
														<ul class="bd_scoop">
															<li><a href="http://www.legacy.com/obituaries/registerguard/obituary-browse.aspx">Recent obituaries and guest books</a></li>
														</ul> <!-- /.bd_scoop -->
														
													</div> <!-- /.bd_gutter -->
													
												</div> <!-- /.w_unit -->
												
											</div> <!-- /.w_line -->
											
										</div> <!-- /.bd_filler -->
										
									</div> <!-- /.mw-div -->
									
								</li> <!-- /.mw-li -->
								
								<li class="mw-li">
									
									<a class="mw-a" href="http://blogs.registerguard.com/">Blogs</a>
									
									<div class="mw-div">
										
										<div class="bd_filler">
											
											<div class="w_line">
												
												<div class="w_unit w_C1of4">
													
													<div class="bd_gutter">
														
														<ul class="bd_scoop">
															<li><a href="http://blogs.registerguard.com/">Blogs home</a></li>
															<li><a href="http://blogs.registerguard.com/oregon-football/">Oregon Football</a></li>
															<li><a href="http://blogs.registerguard.com/burnt-ends/">Burnt Ends</a></li>
															<li><a href="http://blogs.registerguard.com/track-and-field/">Track &amp; Field</a></li>
															<li><a href="http://blogs.registerguard.com/talkin-baseball/">Talkin' Baseball</a></li>
															<li><a href="http://blogs.registerguard.com/oregon-mens-basketball/">Oregon Men's Basketball</a></li>
															<li><a href="http://blogs.registerguard.com/xs-and-os/">Xs &amp; Os</a></li>
															<li><a href="http://blogs.registerguard.com/oregon-womens-basketball/">Oregon Women's Basketball</a></li>
															<li><a href="http://blogs.registerguard.com/prep-sports/">Prep Sports</a></li>
															<li><a href="http://blogs.registerguard.com/school-talk/">School Talk</a></li>
															<li><a href="http://blogs.registerguard.com/tastings/">Tastings</a></li>
															<li><a href="http://blogs.registerguard.com/multimedia/">Multimedia</a></li>
														</ul> <!-- /.bd_scoop -->
														
													</div> <!-- /.bd_gutter -->
													
												</div> <!-- /.w_unit -->
												
												<div class="w_unit w_C1of2">
													
													<div class="bd_gutter">
														
														<h2 class="bd_insert">Recent posts</h2>
														
														<ul class="bd_budget">
															{% cri "http://blogs.registerguard.com/most-recent/?blog=all&items=15" 1800 %}
														</ul> <!-- /.bd_budget -->
														
													</div> <!-- /.bd_gutter -->
													
												</div> <!-- /.w_unit -->
												
												<div class="w_unit w_C1of4 w_Cfix">
													
													<div class="bd_gutter">
														
														<h2 class="bd_insert">Follow us on Facebook</h2>
														
														<ul class="bd_scoop">
															<li><a href="http://www.facebook.com/registerguard">fb.com/registerguard</a></li>
														</ul> <!-- /.bd_scoop -->
														
														<h2 class="bd_insert">Follow us on Twitter</h2>
														
														<ul class="bd_scoop">
															<li><a href="https://twitter.com/registerguard">@registerguard</a></li>
															<li><a href="https://twitter.com/rgsports">@rgsports</a></li>
															<li><a href="https://twitter.com/rgduckfootball">@rgduckfootball</a></li>
															<li><a href="https://twitter.com/rgnewsphoto">@rgnewsphoto</a></li>
														</ul> <!-- /.bd_scoop -->
														
													</div> <!-- /.bd_gutter -->
													
												</div> <!-- /.w_unit -->
												
											</div> <!-- /.w_line -->
											
										</div> <!-- /.bd_filler -->
										
									</div> <!-- /.mw-div -->
									
								</li> <!-- /.mw-li -->
								
								<li class="mw-li">
									
									<a class="mw-a" href="http://registerguard.com/classifieds">Marketplace</a>
									
									<div class="mw-div">
										
										<div class="bd_filler">
											
											<div class="w_line">
												
												<div class="w_unit w_C1of4">
													
													<div class="bd_gutter">
														
														<ul class="bd_scoop">
															<li><a href="http://registerguard.com/homes">Homes</a></li>
															<li><a href="http://registerguard.com/autos">Autos</a></li>
															<li><a href="http://registerguard.com/jobs">Jobs</a></li>
														</ul> <!-- /.bd_scoop -->
														
													</div> <!-- /.bd_gutter -->
													
												</div> <!-- /.w_unit -->
												
												<div class="w_unit w_C1of4">
													
													<div class="bd_gutter">
														
														<ul class="bd_scoop">
															<li><a href="http://registerguard.com/classifieds">Classified Advertising</a></li>
															<li><a href="http://ads.registerguard.com">Place a Classified ad</a></li>
															<li><a href="http://projects.registerguard.com/pages/rg-jobs/">Jobs at The Register-Guard</a></li>
														</ul> <!-- /.bd_scoop -->
														
													</div> <!-- /.bd_gutter -->
													
												</div> <!-- /.w_unit -->
												
												<div class="w_unit w_C1of4">
													
													<div class="bd_gutter">
														
														<ul class="bd_scoop">
															<li><a href="http://projects.registerguard.com/pages/advertising/rate-card/">Display Advertising</a></li>
															<li><a href="http://projects.registerguard.com/pages/advertising/rate-card/#rate-cards">Advertising rates</a></li>
														</ul> <!-- /.bd_scoop -->
														
													</div> <!-- /.bd_gutter -->
													
												</div> <!-- /.w_unit -->
												
												<div class="w_unit w_C1of4 w_Cfix">
													
													<div class="bd_gutter">
														
														<ul class="bd_scoop">
															<li><a href="http://registerguard.mycapture.com/mycapture/">Buy a photo</a></li>
															<li><a href="http://projects.registerguard.com/staff/#advertising">Contact Advertising</a></li>
														</ul> <!-- /.bd_scoop -->
														
													</div> <!-- /.bd_gutter -->
													
												</div> <!-- /.w_unit -->
												
											</div> <!-- /.w_line -->
											
										</div> <!-- /.bd_filler -->
										
									</div> <!-- /.mw-div -->
									
								</li> <!-- /.mw-li -->
								
								<li class="mw-li mw-li-orphan">
									
									<a class="mw-a" href="http://projects.registerguard.com/pages/search/">Search</a>
									
									<div class="mw-div">
										
										<div class="bd_filler">
											
											<div class="bd_gutter">
												
												<h2 class="bd_insert">Search The Register-Guard</h2>
												
												<form id="finder" method="get" action="http://projects.registerguard.com/pages/search/">
													
													<div id="finder_opts">
														<input type="radio" id="finder_opt-1" name="options" checked="checked" value="http://projects.registerguard.com/pages/search/"> <label for="finder_opt-1">Google Custom Search</label>
														<!--<input type="radio" id="finder_opt-2" name="options" value="http://projects.registerguard.com/pages/search/archive/"> <label for="finder_opt-2">Google News Archive Search <i>&ndash; Back to <b>1867</b></i></label>-->
														<input type="radio" id="finder_opt-3" name="options" value="http://pqasb.pqarchiver.com/registerguard/results.html"> <label for="finder_opt-3">Proquest Newspaper Archives <i>&ndash; Back to <b>2001</b></i></label>
														<input type="radio" id="finder_opt-4" name="options" value="http://bizfinder.registerguard.com/search.pg"> <label for="finder_opt-4">BizFinder Local</label>
													</div>
													
													<div>
														<label for="finder_keywords">Keywords:</label> <input type="search" id="finder_keywords" name="q" title="Search..." placeholder="Search..." results="5" autosave="finder"><input id="finder_submit" type="submit" value="Search"> <a href="http://projects.registerguard.com/pages/search/help/">Search help</a>
													</div>
													
												</form>
												
											</div> <!-- /.bd_filler -->
											
										</div> <!-- /.bd_filler -->
										
									</div> <!-- /.mw-div -->
									
								</li> <!-- /.mw-li -->
								
							</ul> <!-- /#megawhale -->
							
						</div> <!-- /#bd_proof -->
						
					</nav>
					
				</div> <!-- /#bd_masthead -->
				
			</header>
			
		{% endblock header %}
		
		{% block banner_top %}
			
			<div id="bd_banner-top" class="bd_banner">
				
				<!-- //////////////////// LEADERBOARD TOP \\\\\\\\\\\\\\\\\\\\ -->
				
				<div class="mobile_banner advert Aon Bon"><div id="mobile_banner-top"></div></div>
				
				<div class="leaderboard advert Con Don"><div id="leaderboard-top"></div></div>
				
				<!-- \\\\\\\\\\\\\\\\\\\\ LEADERBOARD TOP //////////////////// -->
				
			</div> <!-- /#bd_banner-top -->
			
		{% endblock banner_top %}
		
		<div id="bd_content">
		<!-- ##### BEGIN CONTENT AREA ##### -->
			
			<section>
				
				{% block location %}{% endblock location %}
				
				{% block body %}
					
					<div class="w_row">
						
						<div class="w_col w_B300 w_C640 w_D980 Bla Cla Dla">
							
							{% block content %}{% endblock content %}
							
						</div> <!-- /.w_col -->
						
						<div class="w_col w_B300 Blb Clb Dlb">
							
							{% block secondary %}
								
								{% block medium_rectangle_1 %}
									
									<!-- //////////////////// MEDIUM RECTANGLE 1 \\\\\\\\\\\\\\\\\\\\ -->
									
									<div class="medium_rectangle advert Aon Bon"><div id="medium_rectangle_1-mobile"></div></div>
									
									<div class="medium_rectangle advert Con Don"><div id="medium_rectangle_1-desktop"></div></div>
									
									<!-- \\\\\\\\\\\\\\\\\\\\ MEDIUM RECTANGLE 1 //////////////////// -->
									
								{% endblock medium_rectangle_1 %}
								
								{% block column_block %}
									
									<hr>
									
									<!-- //////////////////// COLUMN BLOCK \\\\\\\\\\\\\\\\\\\\ -->
									
									<div class="column_block advert Aon Bon"><div id="column_block-mobile"></div></div>
									
									<div class="column_block advert Con Don"><div id="column_block-desktop"></div></div>
									
									<!-- \\\\\\\\\\\\\\\\\\\\ COLUMN BLOCK //////////////////// -->
									
								{% endblock column_block %}
								
							{% endblock secondary %}
							
						</div> <!-- /.w_col -->
						
					</div> <!-- /.w_row -->
					
				{% endblock body %}
				
			</section>
			
		<!-- ##### END CONTENT AREA ##### -->
		</div> <!-- /#bd_content -->
		
		{% block banner_bottom %}
			
			<div id="bd_banner-bottom" class="bd_banner">
				
				<!-- //////////////////// LEADERBOARD BOTTOM \\\\\\\\\\\\\\\\\\\\ -->
				
				<div class="mobile_banner advert Aon Bon"><div id="mobile_banner-bottom"></div></div>
				
				<div class="leaderboard advert Con Don"><div id="leaderboard-bottom"></div></div>
				
				<!-- \\\\\\\\\\\\\\\\\\\\ LEADERBOARD BOTTOM //////////////////// -->
				
			</div> <!-- /#bd_banner-bottom -->
			
		{% endblock banner_bottom %}
		
		{% block footer %}
			
			<footer>
				
				<div id="bd_morgue">
					
					<h1 class="bd_cut">Quick links</h1>
					
					<div class="w_row">
						
						<div class="w_col w_B300 w_C470 w_D300">
							
							<section>
								
								<h1 id="submit" class="bd_insert">Submit</h1>
								
								<ul class="bd_scoop">
									<li><a href="mailto:newstips@registerguard.com">News tips</a></li>
									<li><a href="http://registerguard.com/rg/opinion/#letter">Letters to the editor</a></li>
									<li><a href="http://projects.registerguard.com/pages/news-forms/">Births / Weddings / Obituaries</a></li>
									<li><a href="http://projects.registerguard.com/pages/entertainment/calendar/">Entertainment event</a></li>
									<li><a href="http://projects.registerguard.com/pages/news-forms/#education-extra">Education Extra</a></li>
									<li><a href="http://projects.registerguard.com/pages/news-forms/#volunteer-of-the-month">Volunteer of the month</a></li>
									<li><a href="http://projects.registerguard.com/staff/#news">Contact the newsroom</a></li>
								</ul> <!-- /.bd_scoop -->
								
							</section>
							
						</div> <!-- /.w_col -->
						
						<div class="w_col w_B300 w_C470 w_D300">
							
							<section>
								
								<h1 id="connect" class="bd_insert">Connect</h1>
								
								<ul class="bd_scoop">
									<li><a href="http://projects.registerguard.com/pages/promotions/">Promotions / Contests</a></li>
									<li><a href="http://www.registerguard.com/newsletters">Email newsletters</a></li>
									<li><a href="http://www.facebook.com/registerguard">Facebook</a></li>
									<li><a href="https://twitter.com/registerguard">Twitter</a></li>
									<li><a href="http://registerguard.com/apps">Mobile Apps</a></li>
									<li><a href="http://projects.registerguard.com/pages/community-solutions/">Community Solutions</a></li>
									<li><a href="http://projects.registerguard.com/support-services">Support Services</a></li>
									<li><a href="http://projects.registerguard.com/pages/about-the-register-guard/">About The Register-Guard</a></li>
									<li><a href="mailto:feedback@registerguard.com">Give us feedback</a></li>
									<li><a href="http://projects.registerguard.com/staff/">Contact The Register-Guard</a></li>
								</ul> <!-- /.bd_scoop -->
								
							</section>
							
						</div> <!-- /.w_col -->
						
						<div class="w_col w_B300 w_C470 w_D300 w_Bc w_Cc">
							
							<section>
								
								<h1 id="marketplace" class="bd_insert">Marketplace</h1>
								
								<ul class="bd_scoop">
									<li><a href="http://registerguard.com/homes">Homes</a></li>
									<li><a href="http://registerguard.com/autos">Autos</a></li>
									<li><a href="http://registerguard.com/jobs">Jobs</a></li>
									<li><a href="http://registerguard.com/classifieds">Classified Advertising</a></li>
									<li><a href="http://ads.registerguard.com">Place a Classified ad</a></li>
									<li><a href="http://projects.registerguard.com/pages/rg-jobs/">Jobs at The Register-Guard</a></li>
									<li><a href="http://projects.registerguard.com/pages/advertising/rate-card/#advertise-in-print">Display Advertising</a></li>
									<li><a href="http://projects.registerguard.com/pages/advertising/rate-card/#rate-cards">Advertising rates</a></li>
									<li><a href="http://registerguard.mycapture.com/mycapture/">Buy a photo</a></li>
									<li><a href="http://projects.registerguard.com/staff/#advertising">Contact Advertising</a></li>
								</ul> <!-- /.bd_scoop -->
								
							</section>
							
						</div> <!-- /.w_col -->
						
						<div class="w_col w_B300 w_C470 w_D300">
							
							<section>
								
								<h1 id="services" class="bd_insert">Subscriber Services</h1>
								
								<div class="bd_box">
									
									<div id="rgpdf"><a href="http://e-edition.registerguard.com">Today's front page</a></div>
									
									<ul class="bd_scoop">
										<li><a href="http://services.registerguard.com/">Subscribe</a></li>
										<li><a href="http://e-edition.registerguard.com/">E-Edition</a></li>
										<li><a href="http://services.registerguard.com/">Manage your account</a></li>
										<li><a href="http://pqasb.pqarchiver.com/registerguard/search.html">Archive</a></li>
										<li><a href="http://services.registerguard.com/#faq">Back issues</a></li>
										<li><a href="http://services.registerguard.com/">Contact Subscriber Services</a></li>
										<li><a href="http://nie.registerguard.com/">Newspapers in Education</a></li>
									</ul> <!-- /.bd_scoop -->
									
								</div> <!-- /.bd_box -->
								
							</section>
							
						</div> <!-- /.w_col -->
						
					</div> <!-- /.row -->
					
					<div id="bd_press">
						
						<p><span>The Register-Guard <span>&bull;</span></span> <span><a href="http://g.co/maps/h6sgk">3500 Chad Drive</a> &bull; Eugene, OR &bull; 97408 <span>/</span></span> <span>(541) 485-1234 <span>/</span> <a href="mailto:feedback@registerguard.com">Feedback</a></span></p>
						
						<p><span>Copyright &copy; 1996&ndash;{% now "Y" %} <span>/</span></span> <span><a href="http://projects.registerguard.com/pages/terms-of-use/">Terms</a> <span>/</span> <a href="http://projects.registerguard.com/pages/privacy-statement/">Privacy</a> <span>/</span> <a href="http://projects.registerguard.com/pages/copyright/">Copyright</a></span></p>
						
					</div> <!-- /#bd_press -->
					
				</div> <!-- /#bd_morgue -->
				
			</footer>
			
		{% endblock footer %}
		
	</div> <!-- /.wiffle -->
	
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script>if(!window.jQuery){document.write('<script src="http://ajax.aspnetcdn.com/ajax/jquery/jquery-1.10.2.min.js"><\/script>');}</script>
	
	<script src="http://static.registerguard.com{{ build }}/js/bulldog.min.js"></script>
	
	<!--[if (lt IE 9) & (!IEMobile 7)]>
		<script src="http://static.registerguard.com{{ build }}/js/respond.min.js"></script>
	<![endif]-->
	
	<!-- [BEGIN] ad_manager -->
	<script src="http://advertising.registerguard.com/static/ad_manager/benjamins/js/onmediaquery.js"></script>
	<script src="http://advertising.registerguard.com/static/ad_manager/benjamins/js/ad_manager.js"></script>
	{% block footer_extra %}<script>$(document).ready(function(){$.ad_manager({parent:'news',section:'local',page:'section'});});</script>{% endblock footer_extra %}
	<!-- [END] ad_manager -->
	
	<!-- [BEGIN] comScore -->
	<script>var _comscore=_comscore||[];_comscore.push({c1:'2',c2:'14055685'});(function(){var s=document.createElement('script'),el=document.getElementsByTagName('script')[0];s.async=true;s.src=(document.location.protocol=='https:'?'https://sb':'http://b')+'.scorecardresearch.com/beacon.js';el.parentNode.insertBefore(s,el);})();</script>
	<noscript><img src="//b.scorecardresearch.com/p?c1=2&amp;c2=14055685&amp;cv=2.0&amp;cj=1" width="1" height="1" alt=""></noscript>
	<!-- [END] comScore -->
	
	<!-- [BEGIN] Quantcast -->
	<script>var _qevents=_qevents||[];(function(){var elem=document.createElement('script');elem.src=(document.location.protocol=='https:'?'https://secure':'http://edge')+'.quantserve.com/quant.js';elem.async=true;elem.type='text/javascript';var scpt=document.getElementsByTagName('script')[0];scpt.parentNode.insertBefore(elem,scpt);})();_qevents.push({qacct:'p-a2gE_aSO6ndbI'});</script>
	<noscript><img src="//pixel.quantserve.com/pixel/p-a2gE_aSO6ndbI.gif" width="1" height="1" alt=""></noscript>
	<!-- [END] Quantcast -->
	
	<!-- [BEGIN] Analytics -->
	<script>var _gaq=[['_setAccount','UA-882065-1'],['_trackPageview']];(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.src='//www.google-analytics.com/ga.js';s.parentNode.insertBefore(g,s)}(document,'script'))</script>
	<!-- [END] Analytics -->
	
</body>
</html>

{% endwith %}
